<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Task <%=task[0].id%></title>
	</head>
	<body>
		<h1>Task No. <%=task[0].id%></h1>
		<h2>Title: <%=task[0].title%></h2>
		<h3 style="display: inline-block">Status:</h3>
		<p style="display: inline-block"><%=task[0].status%></p>
		<h2>Description:</h2>
		<p><%=task[0].description%></p>
		<a href="/api/db/todo-list"><button>Go back</button></a>
		<button style="margin: 100px 10px 100px 300px">Modify</button>
		<button onclick="deleteTask(<%=task[0].id%>)">Delete</button>
		<script>
			function deleteTask(id) {
				fetch(`http://localhost:3000/api/db/todo-list/${id}`, {
					method: "DELETE",
					headers: { "Content-type": "application/json" },
				})
					.then((response) => response.json())
					.then((data) => {
						console.log("Success", data);
						alert(`Item ${id} deleted successfully`);
						window.location.href = "/api/db/todo-list";
					})
					.catch((error) => console.error("Error:", error));
			}
		</script>
	</body>
</html>
