<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" type="text/css" href="/css/task.css" />
		<title>Task <%=task[0].id%></title>
	</head>
	<body>
		<div class="container-1">
			<div class="task-details">
				<div class="task-header">
					<h2 class="task-title"><%=task[0].title%></h2>
					<span class="task-status"><%=task[0].status%></span>
					<p class="task-date">Due date: <%=task[0].due_date%></p>
				</div>
				<div class="description-buttons-alignment">
					<div>
						<h2 class="description-title">Description</h2>
						<p class="description-container">
							<%=task[0].description%>
						</p>
					</div>
					<div class="buttom-buttons">
						<a href="/api/tasks"
							><button class="back-button">Go back</button></a
						>
						<div class="right-buttons">
							<a
								class="modify-link"
								href="/api/tasks/edit/<%=task[0].id%>"
								><button class="modify-button">
									Modify
								</button></a
							>
							<button
								class="delete-button"
								onclick="deleteTask(`<%=task[0].id%>`)"
							>
								Delete
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script>
			function deleteTask(id) {
				fetch(`http://localhost:3000/api/tasks/${id}`, {
					method: "DELETE",
					headers: { "Content-type": "application/json" },
				})
					.then((response) => response.json())
					.then((data) => {
						alert(`Item ${id} deleted successfully`);
						window.location.href = "/api/tasks";
					})
					.catch((error) => console.error("Error:", error));
			}
		</script>
	</body>
</html>
